.pricing{
    margin-top: 8rem;
    background-image: linear-gradient(
  0deg,
  hsl(253deg 72% 83%) 0%,
  hsl(254deg 73% 84%) 3%,
  hsl(254deg 73% 85%) 6%,
  hsl(254deg 73% 86%) 9%,
  hsl(254deg 73% 87%) 12%,
  hsl(255deg 73% 88%) 16%,
  hsl(255deg 74% 89%) 19%,
  hsl(255deg 74% 90%) 23%,
  hsl(255deg 74% 91%) 28%,
  hsl(255deg 74% 93%) 33%,
  hsl(256deg 74% 94%) 38%,
  hsl(256deg 75% 95%) 43%,
  hsl(256deg 75% 96%) 49%,
  hsl(256deg 75% 97%) 56%,
  hsl(256deg 75% 98%) 65%,
  hsl(256deg 76% 99%) 75%,
  hsl(0deg 0% 100%) 98%);

  height: 80vh;
  max-width: 100vw;

  
}
